if VENDOR_GOOGLE

choice
	prompt "Mainboard model"

config BOARD_GOOGLE_BUTTERFLY
	bool "Butterfly"
config BOARD_GOOGLE_PARROT
	bool "Parrot"
config BOARD_GOOGLE_LINK
	bool "Link"
config BOARD_GOOGLE_STOUT
	bool "Stout"
endchoice

source "src/mainboard/google/butterfly/Kconfig"
source "src/mainboard/google/link/Kconfig"
source "src/mainboard/google/parrot/Kconfig"
source "src/mainboard/google/stout/Kconfig"

config MAINBOARD_VENDOR
	string
	default "GOOGLE"

endif # VENDOR_GOOGLE
